<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>LoginWindow</title>
    <style>
        .clearfix h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--引入axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div id="LoginWindow">
    <el-col :span="8">
        <el-card class="LoginWindow" header="LoginWindow" body-style="10px">
            <div slot="header" class="clearfix">
                <h2><span>登录界面</span></h2>
            </div>
            <div class="LoginSelection">
                <!--model:数据类型 rules：规则名 ref；结果集-->
                <el-form :model="LoginUser" :rules="rules" ref="LoginUser" label-width="100px" class="LoginWindow" action="action" method="post">
                    <!--用户名输入-->
                    <el-form-item label="用户名" prop="username">
                        <el-input  v-model="LoginUser.username" size="middle"></el-input>
                    </el-form-item>
                    <!--密码输入-->
                    <el-form-item label="密码" prop="password">
                        <el-input v-model="LoginUser.password" show-password size="middle"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('LoginUser')">立即创建</el-button>
                        <el-button @click="resetForm('LoginUser' )">重置</el-button>
                    </el-form-item>
                    <el-link type="primary" href="Register.html">还未注册？一键跳转注册</el-link>
                </el-form>
            </div>
        </el-card>
    </el-col>
</div>
<script>
    new Vue({
        el:"#LoginWindow",

        data() {
            return {
                LoginUser: {
                    username: '',
                    password:''
                },
                rules: {
                    username: [
                        { required: true, message: '请输入用户名称', trigger: 'blur' },
                        { min: 0, max: 10, message: '长度小于 10 个字符', trigger: 'blur' }
                    ],
                    password:[
                        { required: true, message: '请输入密码', trigger: 'blur'},
                        { min: 10,max: 20,message: '长度在 10 到 20 个字符之间', trigger: 'blur' }
                    ]
                }
            };
        },
        methods: {



            submitForm() {
                this.$refs.LoginUser.validate((valid) => {

                    if (valid) {
                        axios.post('http://localhost:8080/StudentManagementSystem/login',
                            {
                                //不加this会导致前端认为传递的为一个新变量，导致传输的字符为undefined
                                username: this.LoginUser.username,
                                password: this.LoginUser.password
                            },
                            {
                                headers :{'Content-Type':'application/json'}
                            })
                            .then(response=>{
                                if(response.data.success){
                                    alert("登录成功！")
                                    //接下来就跳转到菜单界面
                                    //window.location.href = "..."
                                }else{
                                    alert("登录失败：" + response.data.message);
                                }
                            }).catch(err=>{
                            console.error(err);
                            if(err.response){
                                alert(`请求失败：${err.response.status} ${err.response.data.message}||'服务器错误'}`)
                            }else if(err.request){
                                alert("请求未收到响应，请检查网络");
                            }else{
                                alert("请求配置错误")
                            }
                        })
                    } else {
                        console.log('输入格式错误');
                        return false;
                    }
                });
            },
            resetForm() {
                this.$refs.RegisterUser.resetField();
            }
        }
    })

</script>


</body>
</html>