<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterWindow</title>

    <style>


    </style>
</head>



<body>
<script src="WEB-INF/js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<div id="RegisterWindow">
    <el-col :span="8">
    <el-card  class="RegisterWindow" header="RegisterWindow" body-style="10px">
        <div slot="header" class="clearfix">
           <h2> <span>注册界面</span></h2>
        </div>
        <div class="RegisterSelection">
            <el-form :model="RegisterUser" :rules="RegisterRules" ref="RegisterUser" label-width="100px" class="RegisterWindow" action="action" method="post">

                <!--登录界面-->
                <!--用户名输入-->
                <el-form-item label="用户名" prop="username">

                    <el-input v-model="RegisterUser.username" size="middle"></el-input>

                </el-form-item>
                <!--手机号-->
                <el-form-item label="手机号码" prop="phonenumber">
                    <el-input v-model="RegisterUser.phonenumber"></el-input>
                </el-form-item>
                <!--邮箱-->
                <el-form-item label="邮箱" prop="email">
                    <el-input v-model="RegisterUser.email"></el-input>
                </el-form-item>
                <!--密码-->
                <el-form-item label="密码" prop="password">
                    <el-input  v-model="RegisterUser.password" show-password label="输入密码"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="judgepassword" >
                    <el-input  v-model="RegisterUser.judgepassword" show-password label="重新输入以确认密码"></el-input>
                </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="SubmitRegister('RegisterUser')">注册用户</el-button>
                        <el-button type="warning" @click="resetForm(RegisterUser)">重置数据</el-button>
                    </el-form-item>
                <!--超链接实现跳转-->
                <el-link type="primary" href="Login.html">已有账号？一键跳转登录</el-link>
            </el-form>
        </div>
    </el-card>
    </el-col>
</div>


<script>
    new Vue({
        el: '#RegisterWindow',
        data(){

            let validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.RegisterUser.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            }
            return{
                    RegisterUser:{
                        name:'',
                        password:'',
                        email:'',
                        phonenumber:'',
                        passwordRejudge:'',
                        judegepassword:''
                },

                RegisterRules:{
                    username:[
                        { required: true, message:'请输入注册的用户名',trigger:'blur'},
                        { min: 0 ,max: 10 ,message: '注册的用户名长度小于10个字符' ,trigger:'blur'}
                    ],
                    password:[
                        { required:true, message:'请输入密码',trigger:'blur'},
                        { min:10 , max: 20 ,message: '密码长度应在10到20之间', trigger:'blur'}
                    ],
                    email:[
                        { required:true, message:'请输入您的邮箱',trigger:'blur'},
                        { pattern:/^\w+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)*\.[a-zA-Z]{2,6}$/ , message: '请输入正确的邮箱',trigger: 'blur'}
                    ],
                    phonenumber:[
                        { required:true , message:"请输入手机号码",trigger:'blur'},
                        { pattern:/^\d{11}$/ , message: '请输入正确的手机号',trigger: 'blur'}
                    ],
                    judgepassword:[
                        { required:true, message:'请再次输入密码',trigger:'blur'},
                        { validator: validatePass2,trigger: ['blur','change'],required: true}
                    ]
                }
            }

        },
        methods:{
            SubmitRegister(RegisterUser){
                this.$refs[RegisterUser].validate((valid) => {
                    if (valid) {
                        this.$notify({
                            title:'注册成功,即将跳转到登录界面'
                        })
                        window.location.href='Login.html'
                    }else{
                        console.log('注册失败!!');
                        return false;
                    }
                });
            },
            resetForm(RegisterUser) {
                this.$refs[RegisterUser].resetField();
            }
        }
    })
git

</script>
</body>




</html>